@if (isAddNewTaskClicked) {
  <app-new-task (cancelButtonClickEvent)="onCancelNewTask()" (onSubmitFormEvent)="onAddNewTask($event)"></app-new-task>
}
<section id="tasks">
  <header>
    <h2>{{ user.name }}'s Tasks</h2>
  </header>
  <menu>
    <button (click)="onAddNewTaskButtonClicked()">
      Add Task
    </button>
  </menu>
  <ul>
    @for(task of getTasksOfSelectedUser(); track task.id) {
      <li>
        <app-task [task]="task" (completeButtonClickEvent)="onTaskCompletion($event)"></app-task>
      </li>
    }
  </ul>
</section>
