<app-header></app-header>
<main class="main">
  <ul id="users>">
    @for (user of users; track user.id) {
      <li>
        <app-user
          [user]="user"
          [isSelected]="selectedUser?.id === user.id"
          (userSelectedEvent)="onUserSelection($event)"
        ></app-user>
      </li>
    }

    <!--Old Versions of angular -->
<!--    <li *ngFor="let user of users">-->
<!--      <app-user-->
<!--        [user]="user"-->
<!--        (userSelectedEvent)="onUserSelection($event)"-->
<!--      ></app-user>-->
<!--    </li>-->


<!--    <li>-->
<!--      <app-user-->
<!--        [user]="users[0]"-->
<!--        (userSelectedEvent)="onUserSelection($event)"-->
<!--      ></app-user>-->
<!--    </li>-->
<!--    <li>-->
<!--      <app-user-->
<!--        [user]="users[1]"-->
<!--        (userSelectedEvent)="onUserSelection($event)"-->
<!--      ></app-user>-->
<!--    </li>-->
<!--    <li>-->
<!--      <app-user-->
<!--        [user]="users[2]"-->
<!--        (userSelectedEvent)="onUserSelection($event)"-->
<!--      ></app-user>-->
<!--    </li>-->
<!--    <li>-->
<!--      <app-user-->
<!--        [user]="users[3]"-->
<!--        (userSelectedEvent)="onUserSelection($event)"-->
<!--      ></app-user>-->
<!--    </li>-->

  </ul>

  @if (selectedUser) {
    <app-tasks [user]="selectedUser"></app-tasks>
  }@else {
    <p>Select a user to see their tasks!...</p>
  }

  <!--Old versions of angular -->
<!--  <app-task *ngIf="selectedUserName; else fallback" [userName]="selectedUserName"/>-->
<!--  <ng-template #fallback>-->
<!--    <p>Select a user to see their tasks!...</p>&ndash;&gt;-->
<!--  </ng-template>-->
</main>
<router-outlet />
