<!-- Implementation with signals -->
<!--<div>-->
<!--  <button (click)="onClickUserButton()">-->
<!--    <img [src]="imagePath()" [alt]="selectedUser().name"/>-->
<!--    <span>{{ selectedUser().name }}</span>-->
<!--  </button>-->
<!--</div>-->

<!-- Implemetation with sipmle inputs -->
<div>
  <button (click)="onClickUserButton()">
    <img [src]="imagePath" [alt]="name"/>
    <span>{{ name }}</span>
  </button>
</div>

<!-- Implementation with input signals -->
<!--<div>-->
<!--  <button (click)="onClickUserButton()">-->
<!--    <img [src]="imagePath()" [alt]="name()"/>-->
<!--    <span>{{ name() }}</span>-->
<!--  </button>-->
<!--</div>-->
